body {
    margin: 0;
    background-color: blue;
}

.top_banner {
    width: 100vw;
    height: 5vh;
    background-color: red;
}

.side_bar {
    width: 25vw;
    height: 100%;
    background-color: green;
}